.coffee-records-container {
    background-color: var(--white-color);
    box-shadow: var(--lower-box-shadow);
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    max-width: 56rem;
    margin: 0 auto 2.5rem auto;
    padding: 1.5rem;
}

/* TODO 
@media (min-width: 640px) {
    .form-content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
} */

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
}

.table-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
}

.form-label {
    color: var(--primary-color);
}

.form-date {
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 0.5rem 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 0.375rem;    
}

.search-container {
    margin-bottom: 1.5rem;
}

.table-container {
    display: flex;
    justify-content: center;
}